.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
}

.App h1 {
  color: greenyellow;
}

.button-container {
  position: fixed;
  right: 5%;
  bottom: 0;
  display: flex;
  width: 30%;
  height: 70%;
}

.button-container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
  height: 100%;
}

.button-container-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.button-container button {
  font-family: 'Orbitron', sans-serif;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

.message-floor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
}

.message-container {
  position: fixed;
  top: 0;
}

.floor-container {
  position: fixed;
  top: 30%;
}

button:disabled {
  color: black;
}

.selected {
  background-color: greenyellow;
}
